@font-face {
    font-family: "Arial MT";
    src: url(/fonts/ArialMT.ttf);
}
@font-face {
    font-family: "ArialBold MT";
    src: url(/fonts/ArialBoldMT.ttf);
}
@font-face {
    font-family: "Corpid Bold";
    src: url(/fonts/Corpid-Bold.otf);
}
@font-face {
    font-family: "Corpid Bold Italic";
    src: url(/fonts/Corpid-Bold-Italic.otf);
}
@font-face {
    font-family: 'Lato';
    src: url(/fonts/Lato-Regular.ttf);
}
body {
    .padding_right {
        padding-right: 60px;
    }
    .pipe {
        width: 1px;
        background: #d8d8d8;
        display: inline-block;
    }
    .section_header {
        border-bottom: 1px dotted #d2d2d2;
        h5 {
            font-family: "Corpid Bold";
            font-size: 12px;
            color: #0c6aa7;
        }
    }
    .show_more,
    .signature {
        color: #858585;
        font-family: "Arial MT";
        font-size: 11px;
    }
    .top_navbar {
        height: 120px;
        background: rgba(229, 229, 229, 1);
        background: -moz-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(245, 245, 245, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229, 229, 229, 1)), color-stop(100%, rgba(245, 245, 245, 1)));
        background: -webkit-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(245, 245, 245, 1) 100%);
        background: -o-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(245, 245, 245, 1) 100%);
        background: -ms-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(245, 245, 245, 1) 100%);
        background: linear-gradient(to bottom, rgba(229, 229, 229, 1) 0%, rgba(245, 245, 245, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f5f5f5', GradientType=0);
        background-size: cover;
    }
    .main_navbar {
        margin-top: -43px;
        .navbar {
            height: 100%;
            width: 100%;
            font-family: "Lato";
            font-weight: 700;
            .linear_gradient_border_right {
                border-width: 0 1px 0 0;
                border-style: solid;
                -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dadada), to(rgba(0, 0, 0, 0))) 1 100%;
                -webkit-border-image: -webkit-linear-gradient(#dadada, rgba(0, 0, 0, 0)) 1 100%;
                -moz-border-image: -moz-linear-gradient(#dadada, rgba(0, 0, 0, 0)) 1 100%;
                -o-border-image: -o-linear-gradient(#dadada, rgba(0, 0, 0, 0)) 1 100%;
                border-image: linear-gradient(to bottom, #dadada, rgba(0, 0, 0, 0)) 1 100%;
            }

            .navbar-toggler {
                color: #858585;
                border: 0;
            }
            .nav-item {
                min-width: 25%;
                font-size: 14px;
                .nav-link {
                    width: 100%;
                    color: #0c6aa7;
                    position: relative;
                    transition: all 0.2s linear;
                    &.active,
                    &:hover {
                        z-index: 2;
                        transform: translateY(10px);
                        border-radius: 4px;
                        color: #f3f3f3;
                        background: #0c6aa7;
                    }
                }
            }
        }
    }
    .page_header {
        .header_content {
            background: #ebebeb url(/image/header_background.png) no-repeat;
            background-position: bottom right;
            background-size: cover;
            height: 331px;
            .header_text {
                background: rgba(0, 0, 0, 0.5);
                padding: 40px;
                font-family: 'Corpid Bold Italic';
                color: #f3f3f3;
                h1,
                h2 {
                    font-size: 22px;
                }
                h3 {
                    font-family: 'Lato', sans-serif;
                    font-weight: bold;
                    font-size: 14px;
                }
            }
            .sidebar_content {
                .sidebar {
                    padding-top: 41px;
                    -webkit-box-shadow: -10px 5px 0px -5px rgba(12, 106, 167, 0.59);
                    -moz-box-shadow: -10px 5px 0px -5px rgba(12, 106, 167, 0.59);
                    box-shadow: -10px 5px 0px -5px rgba(12, 106, 167, 0.59);
                    height: 376x;
                    max-width: 250px;
                    width: 100%;
                    margin-top: -42px;
                    background-color: #0c6aa7;
                    .nav {
                        .nav-item {
                            .search_input {
                                height: 22px;
                                box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.16);
                                border: 1px solid #5baddf;
                            }
                            .nav-link {
                                padding-bottom: 10px;
                                padding-top: auto;
                                color: #ffffff;
                                font-family: "Lato";
                                font-size: 12px;
                                border-bottom: 1px solid #0e77b8;
                                height: 29px;
                                transition: all 0.2s linear;
                                .search_input {
                                    height: 22px;
                                    border: 1px solid #5baddf;
                                    background: #dcdcdc;
                                }
                                &:hover,
                                &.active {
                                    background: #0e77b8;
                                }
                            }
                            .text_bold {
                                font-weight: 700;
                            }
                            &:first-of-type .nav-link{
                                 border-top: 1px solid #0e77b8;
                            }
                          
                            &:last-of-type .nav-link {
                                margin-bottom: 50px;
                            }
                        }
                    }
            }

            }
        }
    }
    .section_more {
        .container {
            background: #ebebeb;
            border-bottom: 3px solid #e0e0e0;
        }
        .image {
            height: 75px;
            &:hover {
                opacity: 0.7;
            }
            .triangle {
                display: inline-block!important;
                width: 0;
                height: 0;
                border-right: 20px solid #085493;
                border-top: 20px solid transparent;
            }
            .fas {
                position: relative;
                right: -18px;
                top: -2px;
                font-size: 8px;
                color: #fff;
            }
            &_1 {
                background: url(/image/faktury-img1.PNG) no-repeat;
                background-size: cover;
                background-position: top;
            }
            &_2 {
                background: url(/image/faktury-img2.PNG) no-repeat;
                background-size: cover;
                background-position: top;
            }
            &_3 {
                background: url(/image/faktury-img3.PNG) no-repeat;
                background-size: cover;
                background-position: top;
            }
            &_4 {
                background: url(/image/faktury-img4.PNG) no-repeat;
                background-size: cover;
                background-position: top;
            }
            &_5 {
                background: url(/image/faktury-img5.PNG) no-repeat;
                background-size: cover;
                background-position: top;
            }
            &_6 {
                background: url(/image/faktury-img6.PNG) no-repeat;
                background-size: cover;
                background-position: top;
            }
            &_7 {
                background: url(/image/faktury-img7.PNG) no-repeat;
                background-size: cover;
                background-position: top;
            }
            &_8 {
                background: url(/image/faktury-img8.PNG) no-repeat;
                background-size: cover;
                background-position: top;
            }
        }
        .section_recommended {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    .main_section {
        font-family: "Lato";
        .container {
            padding-top: 30px;
            padding-bottom: 30px;
            background: #ebebeb;
            border-bottom: 3px solid #e0e0e0;
        }
        .make_document {
            padding: 20px;
            .document_list_item {
                padding: 15px;
                .image_container {
                    position: relative;
                    z-index: 0;
                    transition: all 0.2s linear;
                    &:hover {
                         z-index: 1;
                        transform: scale(1.5)
                    }
                }
            }
        }
    }
    .section_tags,
    .section_new_user {
        padding-top: 15px;
        padding-bottom: 15px;
        .tags_list {
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            line-height: 29px;
            color: #858585;
            a {
                color: #858585;
                text-decoration: none;
                padding-left: 5px;
                padding-right: 5px;
                &:hover {
                    color: #0c6aa7;
                    text-decoration: underline;
                }
            }
        }
    }
    .section_tags {
        .tags_list {
            border-bottom: 1px dotted #d2d2d2;
        }
    }
    .section_new_user {
        background: #f2f2f2;
        .tags_list {
            line-height: 22px;
        }
    }
    .page_footer {
        padding: 28px;
        .copyright_info {
            p {
                color: #858585;
                font-family: "Lato";
                font-size: 12px;
                a {
                    color: #0c6aa7;
                    font-family: "ArialBold MT";
                }
            }
        }
        .footer_nav {

            font-family: "Lato";
            font-size: 12px;
            .nav-link {
                padding: 0 5px;
                color: #858585;
                &:hover {
                    color: #0c6aa7;
                    text-decoration: underline;
                }
            }
        }
    }
}
@media screen and (max-width:991px) {
    .main_navbar {
        margin-top: -57px !important;
        .nav-item {
            height: 58px;
            .nav-link {
                height: 100%;
            }
        } 
    }
    .page_header {
        margin-top: 0px;
        padding: 0 20px;
        .header_content {
            height: 376px !important;

            .sidebar {
                height: 100%;
                max-width: 100%;
                margin-top: 0px !important;
            }
        }
    }
}
@media screen and (max-width:767px) {
    .main_navbar {
        .navbar {
            .nav-item {
                .nav-link {
                padding-left: 0.3rem;
                    padding-right: 0.3rem;
                }
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .top_navbar {
        height: 86px !important;
        .padding_right {
            padding-right: 10px;
        }
        .nav-link {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 10px;
        }
    }
    .main_navbar {
        .linear_gradient_border_right {
            border-width: 0 !important;
        }
        .navbar {
            padding-bottom: 5px;
            .nav-link {
                &.active,
                &:hover {
                    transform: translateY(0px) !important;
                }
            }
        }
    }
    .page_header {
        margin-bottom: 120px;
    }
    .sidebar_content {
        margin-top: -120px !important;
        .sidebar {
            max-width: 100% !important;
        }
    }
}
